<p id="notice"><%= notice %></p>

<h1>Text Files</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @text_files.each do |text_file| %>
      <tr>
        <td><%= text_file.name %></td>
        <td><%= text_file.content %></td>
        <td><%= link_to 'Show', text_file %></td>
        <td><%= link_to 'Edit', edit_text_file_path(text_file) %></td>
        <td><%= link_to 'Destroy', text_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Text File', new_text_file_path %>
